---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/HeroSection.astro";

const { user } = Astro.locals;
const isLoggedIn = !!user;
---

<Layout>
  <main class="flex-1">
    <HeroSection isLoggedIn={isLoggedIn} />
  </main>
</Layout>
