---
import { Button } from "@/components/ui/button";

const { session } = Astro.locals;
const isLoggedIn = session !== null;
---
<header class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
    <div class="container mx-auto flex h-14 max-w-screen-2xl items-center">
        <a class="mr-6 flex items-center space-x-2" href="/">
            <img src="/favicon.png" alt="AURA Logo" class="h-6 w-6">
            <span class="font-bold">AURA</span>
        </a>
        <nav class="flex items-center gap-6 text-sm">
            <a class="transition-colors hover:text-foreground/80 text-foreground/60" href="/collection">
                Moja Kolekcja
            </a>
        </nav>
        <div class="flex flex-1 items-center justify-end space-x-4">
            <nav class="flex items-center">
            {
                !isLoggedIn ? (
                    <a href="/api/auth/signin">
                        <Button variant="outline" client:load>Zaloguj się</Button>
                    </a>
                ) : (
                    <div class="font-medium">
                        Witaj, {session.user.email?.split('@')[0]}
                    </div>
                )
            }
            </nav>
        </div>
    </div>
</header>
