---
import "../styles/global.css";
import { cn } from "@/lib/utils";

interface Props {
  title?: string;
  theme?: "dark" | "light";
}

const { title = "AURA", theme = "light" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="AURA - manage your perfume collection" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class={cn(
      "flex min-h-screen flex-col bg-background font-sans antialiased",
      theme === "dark" ? "dark" : "",
    )}
  >
    <slot />
  </body>
</html>
